 *{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
} 

@import 'Partials/variables';
@import 'Partials/commons';
@import 'Partials/header';
@import 'Partials/main';
@import 'Partials/footer';


