* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

header {
  width: 100%;
  margin: 20px 0 0;
}

#logo {
  max-width: 200px;
  text-align: center;
  margin: auto;
  margin-bottom: 20px;
}

nav ul {
  display: flex;
  justify-content: center;
}

nav ul li {
  font-size: 18px;
}

nav ul li a {
  padding: 10px 20px 0;
}

nav ul li a:hover {
  background-color: #b3e5fc;
}

main {
  width: 100%;
  background-image: url("/img/fondo-pag-speciali.jpg");
}

.container {
  width: 80%;
  margin: auto;
}

.container ul {
  display: flex;
  flex-wrap: wrap;
}

.container ul li {
  margin-right: 15px;
}

.container img {
  max-height: 270px;
}

