header {
    width: 100%;
    margin: 20px 0 0;
}

#logo{
   max-width: 200px;
   text-align: center;
   margin: auto;
   margin-bottom: 20px;
}

nav {
  ul {
    display: flex;
    justify-content: center;
    
    li{
        font-size: 18px;

        a{
          padding: 10px 20px 0;
          
          &:hover{
            background-color: $celeste;
          }

        }


    }
  }
}