main{
    width: 100%;
    background-image:url("/img/fondo-pag-speciali.jpg");
}

.container{
    width: 80%;
    margin: auto;

    
    ul{
     display: flex;
     flex-wrap: wrap;
    
        li{
        margin-right: 15px;
        }
    
    }

    img{
        max-height: 270px;;
    }    
}